.Menu {
  float: left;
  background-color: pink;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 10px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.menu__body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.menu__body-item:focus {
  background-color: rgb(230, 96, 116);
}
.menu__header-item-sort-arrow-down {
  margin: 10px;
}
